/**:not(body):not(html) {
  box-sizing: border-box;
  border:1px dashed #000;
}*/
/*HEADER*/
#header{
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
}
#logo{
  float: left;
  width: 35%;
}
#small-nav{
  float: right;
}
/*CONSTANT CLASSES*/
h2{
  font-weight: normal;
  color: #fff;
  font-size: 14pt;
  margin-bottom: 0;
  margin-top:0;
}
span{
  color: #fff;
}
.shoutout{
  padding: 10px;
}
.blue{
  background-color: #083663;
}
.cyan{
  background-color: #009688;
}
.content{
  height: 100%;
}

/*COMPUTER GUY*/
#computer-guy{
  background: url(../img/guy-couch.jpg);
  background-size: cover;
  min-height: 350px;
  position: relative;
}
#computer-guy .shoutout{
  background-color: #263238;
  margin: auto;
  width: 90%;
  position: absolute;
  bottom: 10px;
  margin-left: 5%;
}
/* FOR LADY IPAD AND LADY MOBILE
content class redeclaration specific to mobile layout*/
.content{
  padding-left: 135px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -55px 0;
}
.content h2{
  padding-top: 15px;
}
/*LADY IPAD*/
#lady-ipad{
  height: 100px;
}
#lady-ipad .content{
  background-image: url(../img/lady-ipad.jpg);
}
/*LADY MOBILE*/
#lady-mobile{
  height: 100px;
}
#lady-mobile .content{
  background-image: url(../img/lady-mobile.jpg);
}
/*DESKTOP*/
@media screen and (min-width:750px) {

}
/*TABLET*/
@media screen and (min-width:600px) and (max-width:749px) {

}
/*MOBILE*/
@media screen and (max-width:599px) {


}
